<div ng-include="'components/banners/banner_top.html'"></div>
<div class="page-header">
<h1 style="text-align:center"> MPSTD Service Tests</h1>
</div>


	<div class="row">
			<div  class="col-xs-8">
				<h3 style="float:left;margin-left:10px">Select XML file to Send : </h3>
				<span class="btn btn-primary btn-file" style="margin-top:17px;margin-left:10px">
			    Choose...<input type="file" on-read-file="showContent($fileContent)" />
			    </span>
			</div>
			<div class="col-xs-2">
			
			</div>
			
		<!-- 	<div class="col-xs-2" style="float:right">
				<button type="button" class="btn btn-warning btn-lg btn-block"
				ng-click="retrieveAckRequest('1261')">Return To Provider</button>
			</div> -->
	</div>
	

<div class ="row" style="margin-top: 40px">
	<div class="col-xs-2">
	<button type="button" class="btn btn-warning service-btn" ng-click="getSvcResponse('ack')">Acknowledgement </button>

	<button type="button" class="btn btn-danger service-btn" ng-click="getMedicalPreScreen('med')">MedicalPreScreen </button>
	<button type="button" class="btn btn-danger service-btn" ng-click="getMedicalPreScreen('medCreate')">MPS Create </button>

	<button type="button" class="btn btn-warning service-btn" ng-click="getMedicalPreScreen('bpiRetrive')">BPI Retrieve</button>
	<button type="button" class="btn btn-warning service-btn" ng-click="getMedicalPreScreen('bpiSync')">BPI Sync</button>

	<button type="button" class="btn btn-danger service-btn" ng-click="getMedicalPreScreen('docRetrieve')">DocumentRetrive</button>
	<button type="button" class="btn btn-danger service-btn" ng-click="getMedicalPreScreen('docUpload')">DocumentRestUpload</button>

	<button type="button" class="btn btn-warning service-btn" ng-click="getMedicalPreScreen('medicalExam')">Medical Exam</button>

	<button type="button" class="btn btn-default service-btn" ng-click="getMedicalPreScreen('biometric')">Biometric</button>
	
	
	</div>
	<div class="col-xs-10">
    <!-- <div ng-if="content"> -->
    	<div class="row">
    		<div class="col-xs-2">	
	        <h4 style="margin-left:10px;">Service input Msg:</h4>
	        </div>
	        <div class="col-xs-8">
	        <div >
	        <textarea class="tae_scrollpane" ng-model="content"> </textarea>
	        <!-- <pre style="margin-top:13px;">{{ content }}</pre> -->
	        </div>
	     	</div>
	     	<div class="col-xs-2">
	     	</div>
        </div>
    <!-- </div> -->
    	<div class="row"  style="margin-top: 40px">
    		<div class="col-xs-2">	
	        <h4 style="margin-left:10px;">Service Response:</h4>
	        </div>
	        <div class="col-xs-8">
	        <div >
	        <pre class="tae_scrollpane" style="margin-top:13px;" ng-bind-html ="result | pretty"></pre>
	        </div>
	     	</div>
	     	<div class="col-xs-2">
	     	</div>
        </div>
    </div> 
    </div>
</div>
<!-- end of row div -->
<div  style="margin-top: 40px" ng-include="'components/banners/banner_bottom.html'"></div>
